{% extends "taffy/base.html" %}
{% block content %}


    <h1>About Page</h1>


<div class="container">
  <div class="profile-pic center" style="background-image: url(https://specials-images.forbesimg.com/imageserve/59d5062131358e542c034eb7/416x416.jpg?background=000000&cropX1=419&cropX2=1409&cropY1=53&cropY2=1044)"></div>
  <p class="center">There's no one new around you.</p>
  <div class="sonar-container">
    <div class="sonar center"></div>  
    <div class="sonar center delay"></div>
  </div>
</div>


{% endblock content %}