{% extends "taffy/base.html" %}
{% block content %}
 <div class="container">
<div class="stack">

<h1>Personality</h1>
<a href="/"> <button type="button"  type="submit"  class="btn btn-danger " >default</button></a>
<a href="{% url 'anode' %}"> <button type="button"  type="submit"  class="btn btn-primary" > +ขั่วบวก</button></a>
<a href="{% url 'cathode' %}"><button type="button"  type="submit" id="cathode" class="btn  btn-secondary ">-ขั่วลบ</button></a>
</div>

{% for key, value in sorted_dict.items %} 
				<div id="anode" lass="card">
					<div class="user">
          <a href="{% url 'profile_detail' key.id %}">  <img class="img-fluid rounded" src="{{ key.image.url }}" width="300" height="400" object-fit="cover" alt=""></a>
						<div class="profile">
							<div class="h1 mr-6">ID:{{key.id}},{{key.user.username}}<span>,{{key.age}} {{key.gender}}</span></div>
							<div class="local">
								<i class="fas fa-user"></i>
								<span class="h2">{{key.user.first_name}} {{key.user.last_name}}</span>
                <br><span class="h2">Rating Score :{{value}} </span>
							</div>
						</div>
					</div>
			</div> 

  

<a href="/{{key.id}}/"><button type="button" class="btn btn-warning circle "><i class="fas fa-times fa "></i></button></a>
<a href="/{{key.id}}/"><button type="submit" class="btn btn-danger"><i class="fas fa-heart fa"></i></button>


    
     {% endfor%}
     
    <hr>



    
    {% comment %} {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %} {% endcomment %}
          {% if is_paginated %}
      {% if page_obj.has_previous %}
 
        <a class="btn btn-outline-info mb-4" href="">Nope</a>
        <a class="btn btn-outline-info mb-4" href="">Love</a>
    
        {% comment %} <a class="btn btn-outline-info mb-4" href="?page=1">First</a> {% endcomment %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% comment %} {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}  {% endcomment %}

      {% if page_obj.has_next %}
         <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Nope</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Love</a>
     
     
      {% endif %}
    {% endif %}
    </div>
{% endblock content %}