{% extends "taffy/base.html" %}
{% block content %}
 
<!-- Search Form -->
{% comment %} <form class="form-inline my-2 my-lg-0 pb-2">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" style="width: 400px">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>  {% endcomment %}
     {% comment %} {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
          <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
          </div>
        </article>
    {% endfor %}  {% endcomment %}



{% comment %} <ul>

  <h1><li>{{key}} คะแนนดิบ {{value}}</li><h1>
{% endfor %}
</ul> {% endcomment %}

<div  class="card" >
<h1>Personality</h1>
<a href="/"> <button type="button"  type="submit"  class="btn btn-danger  btn-block" >default</button></a>
<a href="{% url 'anode' %}"> <button type="button"  type="submit"  class="btn btn-primary  btn-block" > +ขั่วบวก</button></a>
<a href="{% url 'cathode' %}"><button type="button"  type="submit" id="cathode" class="btn  btn-secondary  btn-block">-ขั่วลบ</button></a>
</div>

{% for key, value in sorted_dict.items %} 
				<div id="anode" lass="card">
					<div class="user">
						<img
							src="{{ key.image.url }}"	/>
						<div class="profile">
							<div class="h1 mr-6">{{key.user.username}}<span>,{{key.age}}</span></div>
							<div class="local">
								<i class="fas fa-user"></i>
								<span class="h2">{{key.user.first_name}} {{key.user.last_name}}</span>
                <br><span class="h2">Rating Score :{{value}} </span>
							</div>
						</div>
					</div>
			</div>
      			


<button type="button" class="btn btn-warning circle "><i class="fas fa-times fa-3x "></i></button>
<button type="button" class="btn btn-danger"><i class="fas fa-heart fa-3x"></i></button>


    
     {% endfor%}
     
    <hr>



    
    {% comment %} {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %} {% endcomment %}
          {% if is_paginated %}
      {% if page_obj.has_previous %}
 
        <a class="btn btn-outline-info mb-4" href="">Nope</a>
        <a class="btn btn-outline-info mb-4" href="">Love</a>
    
        {% comment %} <a class="btn btn-outline-info mb-4" href="?page=1">First</a> {% endcomment %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% comment %} {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}  {% endcomment %}

      {% if page_obj.has_next %}
         <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Nope</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Love</a>
     
     
      {% endif %}
    {% endif %}
    
{% endblock content %}