 {% load static %}
 <!DOCTYPE html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
 <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
 <html>
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="">

   </head>
   <body>
     <!--[if lt IE 7]>
       <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
     <![endif]-->

<div >
<h1>Personality</h1>
 <a class="btn btn-outline-success " href="{% url 'anode' %}">+ขั่วบวก</a>
  <a class="btn btn-outline-success " href="{% url 'cathode' %}">-ขั่วลบ</a>

</div>
      
 <h1>UserA: {{userA.id}} {{userA.user}} เพศสภาพ:{{userA.gender}} เพศที่สนใจ:{{userA.testes}}</h1>

<hr>
<ul>
{% for key, value in sorted_dict.items %}


  <h1 id="myOl"><li> {{key.user}} เพศสภาพ:{{key.gender}} เพศที่สนใจ:{{key.testes}} อายุ:{{key.age}} (คะแนนดิบ {{value}}) </li><h1>



{% endfor %}
</ul>

</div>

     


   </body>
 </html>
 


