[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
django = "==2.2.7"
openpyxl = "*"

[dev-packages]

[scripts]
server ="python manage.py runserver"
rmdb = "rm -rf db.sqlite3 api/migrations"
super = "python manage.py createsuperuser"
createdb = "bash -c 'python manage.py makemigrations api; python manage.py migrate'"
loaddb = "python manage.py loaddb"

[requires]
python_version = "3.8"
