[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.7"
django-crispy-forms = "*"
pillow = "*"
djangorestframework = "==3.9.4"
django-splash = "*"
openpyxl = "*"
markdown = "*"
django-filter = "*"
django-dbml = "*"
django-extensions = "*"
pydotplus = "*"
django-matrix-field = "*"
psycopg2 = "*"
django-bootstrap-datepicker-plus = "*"

[dev-packages]

[scripts]
s ="python manage.py runserver"
rmdb = "rm -rf db.sqlite3 taffy/migrations/000* members/migrations/000*"
createdb = "python manage.py makemigrations python manage.py migrate"
m = "python manage.py migrate"
mk = "python manage.py makemigrations "
super = "python manage.py createsuperuser"
loaddb = "python manage.py loaddb"
testmember = "python manage.py testmember"

[requires]
python_version = "3.8"
